doctype
html(lang ="en")
    head
        meta(charset="utf-8")
        meta(name="description" content="Description goes HERE")
        meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
        title Ignite Ismailia
        link(rel="stylesheet" href="style/bootstrap.min.css")
        link(rel="stylesheet" href="style/style.css")
        link(rel="stylesheet" href="style/animate.css")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css")
        link(href="https://fonts.googleapis.com/css2?family=Ubuntu&family=Yanone+Kaffeesatz:wght@600&family=Righteous&family=Raleway:wght@200;300&display=swap" rel="stylesheet")
    body
        section.start
            div(class="spinner-border text-primary")
        //- Fixed Bg
        section(data-vide-bg="vidBg/background.mp4" class="fixedBg")
        aside.sidedNav
            span#sideHome
            span#sideAbout
            span#sideTeam
            span#sidedContact
        aside.subMenu
            .subMCont
                ul
                    a(id="sideSubHome") Home
                    a(id="sideSubAbout") About
                    a(id="sideSubTeam") Team
                    a(href="blogs/index.html" id="sideSubBlogs") Blogs
                    a(id="sideSubcontacts") Contact
        
        section(class="massage" id="massage")
            div(class="centerv")
                h3 Message
                form(class="container-md" action="php/contact.php" method="POST")
                    input(type="text" value="" placeholder="Name" name="contName" required data-validation-required-message="Please fill the required field.")
                    input(type="email" value="" placeholder="Mail" name="contMail" required data-validation-required-message="Please fill the required field.")
                    textarea(value="" placeholder="Message" name="contMessage" required data-validation-required-message="Please fill the required field.")
                    br
                    button(id="contSubmit") Send
            button(class="btn btn-outline-light" id="closeMassageCont") Close
        section.subscribe
            form(class="cont container-sm" action="php/subscribe.php" method="POST")
                i(class="fa fa-times") 
                h3 subscribe
                input(type="email" name="email" placeholder="Email" required) 
                button(class="btn" id="submit-form") OK        
        section(class="sec1" id="home")
            header.container-fluid
                .container-sm
                    img(src="img/logo.png" alt="Ignite ISMAILIA Logo" title="Ignite Ismailia")
                    nav.mainNav
                        a( id="homeMenu") Home
                        a( id="aboutMenu") About
                        a( id="teamMenu") Team
                        a(href="blogs/index.html" id="blogs") Blogs
                        a( id="contactMenu") Contact
                    i(class="fa fa-bars")
            .jumbotron
                h5.tltFirst
                    ul(class="texts")
                        li(data-out-effect="bounceOut" data-in-effect="wobble") Non-profit organization
                        li(data-in-effect="wobble" data-out-effect="bounceOut") EveryOne, Speak!
                h3(class="animated bounce mainTitle") Ignite STEM Ismailia
                hr
                p(data-in-effect="wobble" class="pIn") Ignite Ismailia STEM is an Ignite branch, our main slogan is "Metanoia" which means changing mind, from an un useful think to another better think that will change something in this person's life and be more helpful to him. It also aims to help people by give them popular examples.
                hr
                a(href="https://www.facebook.com/ignite.stem.ismailia/" target="_blank"): i(class="fa fa-facebook-square")
                a(href="https://www.instagram.com/ignite_ismailia_stem/" target="_blank"): i(class="fa fa-instagram")
                i(class="fa fa-bell")
        section(class="sec2 container-fluid" id="about")
            img(src="img/headSVG.svg" class="svg")
            h3.headSec2 About
            hr
            div(class="infoCont container-fluid")
                div(class="IgniteGene col-md")
                    h5 Ignite
                    p In a nutshell, people are attracted to what they believe is “short and to the core of the topic. “That is why Ignite Talks have been spread to over 350 organizing teams in the different cities. But for instance, you would ask; 
                        |What is Ignite?
                        |Ignite is an international series of talks where famous, experienced in a specific field, speakers with different and outstanding epistolary and educational achievements talk about their experience and their career through an elaborating sort of way for specific period of time of 5 minutes sorted in 20 slides. 

                div(class="IgniteIsmailia col-md")
                    h5 Ignite Ismailia
                    p Ignite has more than 350 branches. organizing teams in cities, universities, governments and companies, and one of them is Ismailia STEM.
                        |Ignite Ismailia STEM is an Ignite branch its main slogan is "Metanoia" which is a Greek word means changing mind. from thinking of something that may not be good enough to another thing takes you to the success and help you in your career or life.
                        |The team is divided into several committees like Social media, marketing, PR, HR, graphic design and OC. Every year, the team organizes an event and there're interesting performance and great speakers. 
                        |The team depends on campaigns to publish articles on their media. Campaigns that are related to the slogan "Metanoia" with hope for changing reader's mind, like the campaign changing careers which said that when a person leaves a field which he cannot succeed in, this does not mean that he'll fail forever, but he should look for something which he finds passion in.

        section(class="sec3 container-fluid" id="Team")
            h3.headSec3 Team
            img(src="img/headSVG.svg" class="svg")
            h5 Who we are
            p “To Promise and Deliver, to Innovate and create, to be different, and to hand over the best flavor.” This is the High Board’s belief. A collection of individuals worthy of their position, highly-observant, skilled and creative. Adapt and conquer is what they say, such a promising gathering.
            .memCont
                each value, key in {'Mahmoud-Yasser': "Chairman", "Ahmed-Abdelhady": "Vice Chairman", "Hala-Ashraf": "Digital Marketing Chief", "Youssef-Mahmoud": "Multimedia Chief", "Ahmed-Sayed": "Director HR", "Salma-Ahmed": "Vice director HR", "Rewan-Khaled": "Vice director HR", "Ahmed-Hassan": "Director Tech. Support", "Zeyad-Ajamy": "Vice director Tech. Support", "Mohmmed-Hamza": "Director PR", "Earny-Essam": "Vice Director PR", "Hossam-Hassan": "Vice Director PR", "Youssef-Bokhary": "Content Writing director", "Ziad-Hammad" :"Director Video Editing", "Lina-Ahmed": "Vice director Video Editing", "Mohammed Shaban": "Director FR", "Ibrahim-Rashwan": "Vice director FR", "Omar-Mostafa": "Director Social Media", "Youssef-Khaled": "Director Graphic Design", "Khalid-Saber": "Vice director Graphic Design", "Mohammed-Morsy": "Vice director Social Media", "Mohamed-Ayman":"Director Logistics", "Nour-El-baz": "Vice director Logistics", "Renad-Wael": "Vice director Logistics", "Renad-Ehab": "Vice director Logistics"}
                    .memInfo
                        .card
                            img(class="card-img-top" src=`img/${key}.jpg` alt= key, title= key )
                        .showMemInfo
                            h3 #{key}
                            p #{value}
        section.apply
            //-h3 Application Form
            .timeCont
                div(class="time display-4")
                a(href="https://form.jotform.com/202003303103024" class="applybtn" target="_blank") Apply
                
        include includes/footer.pug
        script(src="js/jquery.js")
        script(src="js/jquery.vide.min.js")
        script(src="js/jquery.anisview.min.js")
        script(src="js/jquery.lettering.js")
        script(src="js/jquery.textillate.js")
        script(src="js/jquery.nicescroll.js")
        script(src="js/bootstrap.bundle.min.js")
        script(src="js/mainJs.js")