section(class="sec4 container-fluid" id="contact")
    div(class="all")
        div(class="social")
            a(href="#"): i(class="fa fa-facebook")
            a(href="#"): i(class="fa fa-instagram")
            a(href="mailto: Info@ignite-stemismailia.com"): i(class="fa fa-envelope-o")
            a(href="tel: +2 (011) 121-61029"): i(class="fa fa-phone")
        span#massageUs | Message Us 
        h5 Ignite-STEM Ismailia &copy; 2020

button(class="btn btn-danger" id="toTop"): i(class="fa fa-chevron-up")